**/.*
!.editorconfig
!.gitignore
!.gitattributes
site/
resources/cluster.json.original
resources/mID_to_gene.tsv
resources/mm10.circBase.bed
resources/mm10.circBase.bed.unmap
resources/mm10ToMm39.over.chain.gz
resources/mm39.circBase.bed
resources/mm39.circBase.bed.unmap
resources/mm39.circBase.collapsed.bed
resources/mm39_circBase_annotation_lookup.txt
resources/mm9.circBase.bed
resources/mm9.circBase.txt
resources/mm9ToMm10.over.chain.gz
resources/mm9_circID_to_name.txt
resources/mmu_mm9_circRNA.bed
resources/mmu_mm9_circRNA.txt
resources/mouse_mm9_circRNAs_putative_spliced_sequence.fa.gz
workflow/scripts/copy_strand_info.py
**/tmp*